## Task 1. What are projects in Jupyter?

Projects in Jupyter are designed as ***Jupyter Notebook* notebooks**. A notebook is a mix of text and Python code. You are reading an example of a notebook now.

It‚Äôs time to execute the code. Go to the cell under this sentence and press **Shift+Enter**, or click the **( ‚ñ∂| Run )** button above.

In [3]:
print("I‚Äôm a data analyst! üòé")
a = 2
b = 3
sum = a + b
print("I can add numbers, a + b =", sum)

I‚Äôm a data analyst! üòé
I can add numbers, a + b = 5

Cells can contain any Python code. It‚Äôs almost like the interactive platform you‚Äôre already familiar with.

## Task 2. How to execute code in Jupyter Notebook cells

The results of executing code are displayed right below the code. You don‚Äôt have to write `print()`‚Äîthe value of the last expression calculated will be displayed. Verify this by executing the following code:

In [4]:
def SumSquare(x, y):
  return x*x + y*y;

SumSquare(a, b)

13

It came out to 13. That‚Äôs because the values of the variables a and b were saved after executing the code in the previous cells.

The code in each cell is part of the overall program. Since you control the execution of the cells manually, you can execute them in any order. You can even edit the order or restart the list. When you do this, you are influencing the values of the variables that are saved from cell to cell.

We recommend executing the code in order so we get the predicted results. If you click **( Cell / Run All )** in the menu, all cells will be executed in order from first to current.

You can get rid of the values of the variables saved after executing the code. To do this, click **( Kernel / Restart )** in the menu or click **( ‚ü≥ Restart )** in the top panel.

**Exercise.** Fill in the blanks in the cells so that when the code is executed the value of the variable `c` is `8`. Check your solution by executing the code in the cell.

In [6]:
z = 2 # fill in the blank here
c = SumSquare(z, a)
c

8

##  Task 3. Nicely formatted text in notebooks

Jupyter lets you format text. As an example, the table from the beginning of the course will look like this:

| Language                     | Share of websites in the top 10 mil. | Native speakers, mil. | Speakers, mil. |
|--------------------------|-----------------|--------------------|-------------|
| English               | 53.90%          | 378.2              | 1121        |
| Russian                  | 6.10%           | 153.9              | 264.3       |
| German                 | 6.00%           | 76                 | 132         |
| Spanish                | 4.90%           | 442.3              | 512.9       |
| French              | 4.00%           | 76.7               | 284.9       |
| Japanese                 | 3.40%           | 128.2              | 128.3       |
| Portuguese            | 2.90%           | 222.7              | 236.5       |
| Italian              | 2.40%           | 64.8               | 67.8        |
| Persian               | 2.00%           | 60                 | 110         |
| Polish                 | 1.80%           | 39.6               | 40.3        |
| Chinese | 1.70%           | 908.7              | 1.107       |
| Danish                  | 1.20%           | 22                 | 28          |
| Turkish                 | 1.20%           | 78.5               | 78.9        |
| Czech                  | 1.00%           | 10.4               | 10.6        |

Here‚Äôs how the tables from the *.csv* files uploaded to the pandas library look in Jupyter Notebook:

In [7]:
import pandas as pd
df = pd.read_csv('/datasets/drive-data.csv')
df

             –ú–æ–¥–µ–ª—å –ö–∞—Ç–µ–≥–æ—Ä–∏—è  –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ  –°—Ç–æ–∏–º–æ—Å—Ç—å –∑–∞ –º–∏–Ω—É—Ç—É
0    Renault Kaptur    —ç–∫–æ–Ω–æ–º         200                  5.0
1           Kia Rio    —ç–∫–æ–Ω–æ–º         300                  5.0
2       Skoda Rapid    —ç–∫–æ–Ω–æ–º         150                  5.0
3           VW Polo    —ç–∫–æ–Ω–æ–º         100                  5.0
4           Audi Q3   –∫–æ–º—Ñ–æ—Ä—Ç          30                  7.1
5           Audi A3   –∫–æ–º—Ñ–æ—Ä—Ç          15                  7.1
6       Genesis G70   –∫–æ–º—Ñ–æ—Ä—Ç          50                  8.5
7     Mercedes E200    –±–∏–∑–Ω–µ—Å          90                 12.9
8          BMW 520i    –±–∏–∑–Ω–µ—Å          60                 12.9
9     Porsche Macan     –æ–≥–æ–Ω—å           5                 35.0
10  Porsche Carrera     –æ–≥–æ–Ω—å           2                 60.0

We purposely didn‚Äôt call the `print(df)` function here. The table looks nicer without calling this function.

Jupyter Notebook can also show very large tables. Let‚Äôs see how it looks:

In [8]:
big_df = pd.read_csv('/datasets/music-data-2.csv')
big_df

           ID  total play        artist       genre                   track
0    BF6EA5AF   92.851388    Marina Rei         pop                  Musica
1    FB1E568E  282.981000  Stive Morgan     ambient             Love Planet
2    FB1E568E  282.981000  Stive Morgan     ambient             Love Planet
3    EF15C7BA    8.966000           NaN       dance     Loving Every Minute
4    82F52E69  193.776327        Rixton         pop  Me And My Broken Heart
..        ...         ...           ...         ...                     ...
994  5C9F8629   63.000000           NaN  electronic         Feeling Liberty
995  DDF57113  255.582041   X-Tralounge  electronic                  Lizard
996  A3308EC5  146.442188     Andy Hunt        hard          Reconciliation
997  F80EF638  438.883265           NaN         psy         Inside the Mind
998  97D3BB0F    0.100000       Duceman      hiphop          Under Pressure

[999 rows x 5 columns]

Jupyter Notebook uses markdown to format text [Markdown](https://en.wikipedia.org/wiki/Markdown). For example, you can list the column names like this:
- `Model`
- `Category`
- `Quantity`
- `Cost per minute`

## Task 4. How data analysts use Jupyter Notebook

Once you‚Äôve completed a project, you can save the notebook to a *.ipynb* file. Then you can open it in Jupyter on a different computer, share it with your colleagues, or put it in your portfolio. To save a notebook, click **( File / Download as‚Ä¶ )**.

Jupyter is so popular because it makes it easy to view code and results. With Jupyter it‚Äôs also easy to demonstrate your work for your colleagues.